USE [master]
GO
/****** Object:  Database [FcalcDB]    Script Date: 30/6/2021 19:24:00 ******/
CREATE DATABASE [FcalcDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FcalcDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\FcalcDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FcalcDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\FcalcDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FcalcDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FcalcDB]
GO
/****** Object:  Table [dbo].[CommercialPlan]    Script Date: 30/6/2021 19:24:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommercialPlan](
	[idCommercialplan] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](16) NULL,
	[idPlantype] [int] NULL,
	[price] [decimal](8, 2) NULL,
	[status] [char](1) NULL,
	[creationDate] [datetime] NULL,
 CONSTRAINT [PK_CommercialPlan] PRIMARY KEY CLUSTERED 
(
	[idCommercialplan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommercialPlanRange]    Script Date: 30/6/2021 19:24:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommercialPlanRange](
	[idPlanrange] [int] IDENTITY(1,1) NOT NULL,
	[startRange] [int] NULL,
	[endRange] [int] NULL,
	[price] [decimal](6, 2) NULL,
	[idCommercialplan] [int] NULL,
	[status] [char](1) NULL,
	[creationDate] [datetime] NULL,
 CONSTRAINT [PK_CommercialPlanRange] PRIMARY KEY CLUSTERED 
(
	[idPlanrange] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 30/6/2021 19:24:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[idCustomer] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [nchar](13) NULL,
	[legalName] [nchar](64) NULL,
	[idCommercialplan] [int] NULL,
	[status] [char](1) NULL,
	[creationDate] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionLog]    Script Date: 30/6/2021 19:24:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLog](
	[idExecutionlog] [int] IDENTITY(1,1) NOT NULL,
	[idCustomer] [int] NULL,
	[transactionsCount] [int] NULL,
	[totalCalc] [decimal](6, 2) NULL,
	[month] [int] NULL,
	[creationDate] [datetime] NULL,
	[status] [char](1) NULL,
 CONSTRAINT [PK_ExecutionLog] PRIMARY KEY CLUSTERED 
(
	[idExecutionlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanType]    Script Date: 30/6/2021 19:24:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanType](
	[idPlantype] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](16) NULL,
	[requireRange] [bit] NULL,
	[isDynamic] [bit] NULL,
	[status] [char](1) NULL,
	[creationDate] [date] NULL,
 CONSTRAINT [PK_PlanType] PRIMARY KEY CLUSTERED 
(
	[idPlantype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommercialPlan]  WITH CHECK ADD  CONSTRAINT [FK_CommercialPlan_PlanType] FOREIGN KEY([idPlantype])
REFERENCES [dbo].[PlanType] ([idPlantype])
GO
ALTER TABLE [dbo].[CommercialPlan] CHECK CONSTRAINT [FK_CommercialPlan_PlanType]
GO
ALTER TABLE [dbo].[CommercialPlanRange]  WITH CHECK ADD  CONSTRAINT [FK_CommercialPlanRange_CommercialPlan] FOREIGN KEY([idCommercialplan])
REFERENCES [dbo].[CommercialPlan] ([idCommercialplan])
GO
ALTER TABLE [dbo].[CommercialPlanRange] CHECK CONSTRAINT [FK_CommercialPlanRange_CommercialPlan]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CommercialPlan] FOREIGN KEY([idCommercialplan])
REFERENCES [dbo].[CommercialPlan] ([idCommercialplan])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_CommercialPlan]
GO
ALTER TABLE [dbo].[ExecutionLog]  WITH CHECK ADD  CONSTRAINT [FK_ExecutionLog_Customer] FOREIGN KEY([idCustomer])
REFERENCES [dbo].[Customer] ([idCustomer])
GO
ALTER TABLE [dbo].[ExecutionLog] CHECK CONSTRAINT [FK_ExecutionLog_Customer]
GO
USE [master]
GO
